.footer{
    width: 100vw;
    height: 33px;
    background-color:rgb(30, 42, 56);
   color:#fff;
    display: flex;
    cursor: pointer;



}


.foot{
    margin: 5px 18px;
    font-size: 17px;
    font-weight: bold;
    padding-left: 1px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}