.main{
    width: 100vw;
    height: 107vh;
   background: url('https://ik.imagekit.io/amazonshop/primeddddddddddddd__-M_JEeikTVa.jpg?updatedAt=1642054702711'); 
   background-repeat: no-repeat;
background-color:rgb(2,147,209);
background-size: cover;
background-size:1550px 410px ;
}


