*{
    padding: 0px;
    margin: 0px;
    overflow-x:visible;
    
}

.Navbar_component {
    width: 100vw;
    height: 60px;
    background-color: rgb(18, 24, 32);
    display: flex;
    position: sticky;
    
}

.image_logo {
background: url('https://ik.imagekit.io/amazonshop/logo_kLEDg87Lt.png?updatedAt=1641536822433');
background-repeat: no-repeat;
background-size: 100px;
height: 56px;
width: 100px;
margin:1px;
margin-left: 2px;
}

.navbar_location {
    color:#fff;
    font-weight: bolder;
    margin: 20px 0px;
    margin-left: 4px;
    font-size: 20px;
    

}
.navbar_locator {
    background-image:url('https://ik.imagekit.io/amazonshop/locator_new_c2QSK3TBkwI.png?updatedAt=16415487667');   
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin:  20px 0px;
    font-weight: 700;
    margin-left: 10px;
    
    


}

.navbar_searchbox{
    width: 890px;
    height: 30px;
    margin-top: 9px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0px;

}
.navbar_searchbox:hover{
    border-color: rgb(255,153,0)
}
.navbar_searchicon {
    background: url('https://ik.imagekit.io/amazonshop/iooooooooooo_4I_xH9bxQ.png?updatedAt=1641733423639')no-repeat no-repeat -3px -3px;
	margin-top: 9px;
    width: 29px;
	height: 34px;
    background-color: rgb(254,189,105);
    display:flex;
    cursor: pointer;
    border-radius:  0px 5px 5px 0px;
    box-sizing: border-box;
    padding: 1px 6px;
    background-position: -1px 1px;
}
.navbar_searchicon:hover{
    border-color: rgb(255,153,0)
}

    .navbar_dropbox{
        margin-left:15px;
        width: 40px;
        line-height: 35px;
        height: 34px;
        margin-top:9px;
        background-color:rgb(255,255,255);
        border-radius: 5px 0px 0px 5px;
        text-align: center; 
        cursor: pointer;
        font-size: smaller;
        border-left: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        

    }

    .navbar_dropbox:hover{
        border-color: rgb(255,153,0)
    }


    .sign{
        margin-top:10px;
        margin-left:15px;
        width: 120px;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
       }

    .return{
        width: 80px;
        font-family: 'Times New Roman', Times, serif;
        margin-top:10px;
        margin-left:10px;
        cursor: pointer;

    }
    

    a:hover {
           
            text-decoration: none;        
    }
  
    .cart_icon{
 background: url('https://ik.imagekit.io/amazonshop/shopppp_YrNEliQqwtR.png?updatedAt=1641800934070')no-repeat -2px -2px;
 width: 31px;
 height: 30px;
 margin-top: 21px;
 margin-left: 10px;
 display: flex;
 cursor: pointer;

}

.carttie {
    display: flex;
    cursor: pointer;
    float: left;
    margin-top: 25px;
    font-weight: 700;
    color: #fff;
    margin-left: -13px;

}


    
    .navbar_right {
        color: #fff;
        
    }


    